# Dependencies
node_modules/
vendor/

# Build outputs
dist/
build/
*.pyc
__pycache__/

# Environment files
.env
.env.local
.env.*.local

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/

# Operating System
.DS_Store
Thumbs.db

venv/

# Kubernetes - ignore Kubernetes-related temporary files
.kube/              # Local Kubernetes config directory
*.kubeconfig        # Kubernetes config files
k8s/**/*.tmp        # Any temporary files in k8s directory

# Model files
*.pt
*.ckpt
pytorch/neural_networks/iris_dataset/data/test_dataset.pt
pytorch/neural_networks/iris_dataset/checkpoints/*
!pytorch/neural_networks/iris_dataset/checkpoints/.gitkeep
lightning_logs/
