{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2>{{ title }}</h2>
        <p class="lead">{{ welcome_message }}</p>
        
        <div class="row">
            <!-- <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">House Price Prediction</h5>
                        <p class="card-text">
                            Predict house prices using our machine learning model.
                            Upload a CSV file with house features to get started.
                        </p>
                        <a href="{% url 'pytorch:house_prediction' %}" class="btn btn-primary">Try it out</a>
                    </div>
                </div>
            </div> -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Iris Flower Classification</h5>
                        <p class="card-text">
                            Classify iris flowers using our machine learning model.
                            Input flower measurements to predict the iris species.
                        </p>
                        <a href="{% url 'iris:predict' %}" class="btn btn-primary">Try it out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 